<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.epic.regexp"
   name="Regexp Plug-in"
   version="0.1.1"
   provider-name="Epic Project"
   class="org.epic.regexp.RegExpPlugin">

   <runtime>
      <library name="regexp.jar"/>
      <library name="gnu-regexp-1.1.4.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.views">
      <view
            name="RegExp"
            icon="icons/rx.gif"
            category="org.epic.views"
            class="org.epic.regexp.views.RegExpView"
            id="org.epic.regexp.views.RegExpView">
      </view>
   </extension>

</plugin>
