<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.epic.debug"
   name="Debug Plug-in"
   version="0.0.7"
   provider-name="EPIC Project"
   class="org.epic.debug.PerlDebugPlugin">

   <runtime>
      <library name="debug.jar">
         <export name="*"/>
      </library>
      <library name="gnu-regexp-1.1.4.jar"/>
      <library name="antlr.jar"/>
      <library name="perlvarparser.jar"/>
      <library name="brazil_mini.jar"/>
   </runtime>
   <requires>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.eclipse.jface"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.text"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.workbench"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.epic.perleditor"/>
      <import plugin="org.epic.ext.cbg.editor"/>
   </requires>


   <extension
         id="org.epic.debug"
         name="Epic Perl Debugger"
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            name="DebugPerl"
            delegate="org.epic.debug.LaunchConfigurationDelegate"
            modes="run,debug"
            public="true"
            id="org.epic.debug.launchConfigurationPerl">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.epic.debug.launchConfigurationPerl"
            class="org.epic.debug.LaunchConfigurationDialog"
            id="org.epic.debug.launchDialog">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/epic.gif"
            configTypeID="org.epic.debug.launchConfigurationPerl"
            id="org.epic.debug.launchimage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="Perl Source Locator"
            class="org.epic.debug.SourceLocator"
            id="org.epic.debug.sourceLocator.Local">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.epic.debug.DebugModelPresentation"
            id="org.epic.debug.perldebugger.perl">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#PerlRulerContext"
            id="org.epic.debug.RulerPopupActions">
         <action
               label="Add Remove Breakpoint"
               class="org.epic.debug.ManageBreakpointRulerActionDelegate"
               menubarPath="debug"
               id="org.epic.ManageBreakpointRulerActionDelegate">
         </action>
      </viewerContribution>
   </extension>
   <extension
         id="perlLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.epic.debug.perlLineBreakpointMarker"
            class="org.epic.debug.PerlLineBreakpoint"
            id="perlLineBreakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Perl Expression View"
            icon="icons/expression_view.gif"
            category="org.epic.views"
            class="org.epic.debug.ExpressionView"
            id="org.eclipse.debug.expressionview">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
<!-- Contributions to Expression View Toolbar -->
      <viewContribution
            targetID="org.eclipse.debug.ui.VariableView"
            id="org.epig.debug.showLocalVariablesAction">
         <action
               label="Show Local Variables"
               icon="icons/epic.gif"
               tooltip="Show Local Variable"
               state="false"
               class="org.epic.debug.ShowLocalVariableActionDelegate"
               menubarPath="additions"
               id="org.epig.debug.showLocalVariablesAction">
         </action>
      </viewContribution>
   </extension>

</plugin>
