<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.epic.perleditor"
   name="Epic Plugin"
   version="0.1.0"
   provider-name="Epic Project"
   class="org.epic.perleditor.PerlEditorPlugin">

   <runtime>
      <library name="perleditor.jar">
         <packages prefixes="org.epic.core,org.epic.perleditor"/>
      </library>
      <library name="gnu-regexp-1.1.4.jar">
         <packages prefixes="gnu.regexp"/>
      </library>
      <library name="jdom.jar">
         <packages prefixes="org.jdom"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.epic.ext.cbg.editor"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.apache.xerces"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Epic Perl Editor"
            icon="icons/epic.gif"
            extensions="pl, ipl, pm, cgi, epl"
            contributorClass="org.epic.perleditor.editors.PerlActionContributor"
            class="org.epic.perleditor.editors.PerlEditor"
            id="org.epic.perleditor.editors.PerlEditor">
      </editor>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.documentProviders">
      <provider
            extensions="pl, ipl, pm, cgi"
            class="org.epic.perleditor.editors.PerlDocumentProvider"
            id="org.epic.perleditor.editors.PerlDocumentProvider">
      </provider>
   </extension>
-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Perl EPIC"
            class="org.epic.core.preferences.PerlMainPreferencePage"
            id="org.epic.core.preferences.PerlMainPreferencePage">
      </page>
      <page
            name="Editor"
            category="org.epic.core.preferences.PerlMainPreferencePage"
            class="org.epic.perleditor.preferences.PerlEditorPreferencePage"
            id="org.epic.perleditor.preferences.EpicPerlEditorPreferencePage">
      </page>
      <page id="org.epic.perleditor.preferences.EpicPerlTemplatesPreferencePage"
			name="Templates"
			category="org.epic.core.preferences.PerlMainPreferencePage"
			class="org.epic.perleditor.templates.preferences.TemplatePreferencePage">
   		</page>
   		<page id="org.epic.perleditor.preferences.SourceFormatterPreferencePage"
  			name="Source Formatter"
  			category="org.epic.core.preferences.PerlMainPreferencePage"
 			 class="org.epic.perleditor.preferences.SourceFormatterPreferencePage">
     	</page>
     	<page id="org.epic.perleditor.preferences.CodeAssistPreferencePage"
  			name="Code Assist"
  			category="org.epic.core.preferences.PerlMainPreferencePage"
 			 class="org.epic.perleditor.preferences.CodeAssistPreferencePage">
     	</page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perl"
            icon="icons/epic.gif"
            class="org.epic.core.Perspective"
            id="org.epic.core.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Perl"
            id="org.epic.newproject">
      </category>
      <wizard
            name="Perl Project"
            icon="icons/epic_project.gif"
            category="org.epic.newproject"
            class="org.epic.core.PerlProjectResourceWizard"
            project="true"
            id="org.epic.newproject.wizard">
         <description>
            Create new Perl Project
         </description>
      </wizard>
   </extension>
   <extension
         id="perlnature"
         name="Perl Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.epic.core.PerlProjectNature">
         </run>
      </runtime>
      <!-- Builder test START -->
      <builder id="org.epic.perleditor.perlbuilder" />
      <!-- Builder test END -->
   </extension>
   <!-- Builder START -->
   <extension
      id="perlbuilder" name="Perl Auto Builder" point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="org.epic.core.builders.PerlBuilder" />
      </builder>
   </extension>
   <!-- Builder END -->
   <extension
         point="org.eclipse.ui.projectNatureImages">
      <image
            icon="icons/project_folder.gif"
            natureId="org.epic.perleditor.perlnature"
            id="org.epic.core.perlProjectNatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="Perl Include Path"
            class="org.epic.core.properties.IncludePathPropertyPage"
            id="org.epic.core.properties.IncludePathPropertyPage">
         <filter
               name="nature"
               value="org.epic.perleditor.perlnature">
         </filter>
      </page>
   </extension>
   
   <!-- Perldoc Perl Editor popup menu definition -->
<extension point="org.eclipse.ui.popupMenus"> 
      
      <!-- Perdoc menu -->
      <viewerContribution 
         id="org.epic.perleditor.PerlDocPopup" 
            targetID="#PerlDocEditorContext" >
         <menu
            id="PelDocPopupMenu" 
            path="additions" 
            label="&amp;Perldoc"> 
            <separator name="PerlDocGroup"/> 
         </menu>
         <action
            id="org.epic.perleditor.popupmenus.PerlDocAction.Faq" 
            label="FAQ Search"
            icon="icons/light_bulb.gif"
            menubarPath="PelDocPopupMenu/PerlDocGroup" 
            class="org.epic.perleditor.popupmenus.PerlDocAction"> 
         </action>
         <action
            id="org.epic.perleditor.popupmenus.PerlDocAction.BuiltinFunction" 
            label="Builtin Function Documentation"
            icon="icons/epic.gif"
            menubarPath="PelDocPopupMenu/PerlDocGroup" 
            class="org.epic.perleditor.popupmenus.PerlDocAction"> 
         </action> 
         <action
            id="org.epic.perleditor.popupmenus.PerlDocAction.ModuleSource" 
            label="Module/Program Source"
            icon="icons/module_node.gif"
            menubarPath="PelDocPopupMenu/PerlDocGroup" 
            class="org.epic.perleditor.popupmenus.PerlDocAction"> 
         </action> 
         <action
            id="org.epic.perleditor.popupmenus.PerlDocAction.Module" 
            label="Module/Program Documentation"
            icon="icons/module_node.gif"
            menubarPath="PelDocPopupMenu/PerlDocGroup" 
            class="org.epic.perleditor.popupmenus.PerlDocAction"> 
         </action> 
	 </viewerContribution>
   </extension>
   

  <!-- Associate menus with PerlEditor -->
   <extension point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.epic.perleditor.sourcemenu">
            <part id="org.epic.perleditor.editors.PerlEditor"/>
       </actionSetPartAssociation>
   </extension>


  <extension point="org.eclipse.ui.actionSets">
    <actionSet id="org.epic.perleditor.sourcemenu"
                     label="Source Menu">
			
        <!-- Content assist -->
		<action id="org.epic.perleditor.ContentAssist"
      		menubarPath="edit/additions"
      		label="Co&amp;ntent Assist"
			definitionId="org.epic.perleditor.contentassist"
			retarget="true" />
			
			
	    <!-- Source menu -->
		<menu
            id="org.epic.perleditor.source.menu"
            label="&amp;Source"
            path="edit">
            <separator name="editGroup"/>
            <separator name="exportGroup"/>
         </menu>
             
         <!-- Export menu -->
		<menu
            id="export"
            label="&amp;Export"
            path="org.epic.perleditor.source.menu/exportGroup">
            <separator name="group1"/>
         </menu>
                
		<!-- HTML export -->
		<action id="org.epic.perleditor.HtmlExport"
      		menubarPath="org.epic.perleditor.source.menu/export/group1"
      		label="&amp;HTML"
			definitionId="org.epic.perleditor.htmlexport"
			retarget="true" />
         
         <!-- Format source action -->
		<action id="org.epic.perleditor.FormatSource"
      		menubarPath="org.epic.perleditor.source.menu/editGroup"
      		label="F&amp;ormat"
			definitionId="org.epic.perleditor.formatsource"
			retarget="true" />
         
        <!-- Uncomment action -->
		<action id="org.epic.perleditor.Uncomment"
      		menubarPath="org.epic.perleditor.source.menu/editGroup"
      		label="&amp;Uncomment"
			definitionId="org.epic.perleditor.uncomment"
			retarget="true" />
			
        <!-- Comment action -->
		<action id="org.epic.perleditor.Comment"
      		menubarPath="org.epic.perleditor.source.menu/editGroup"
      		label="Co&amp;mment"
			definitionId="org.epic.perleditor.comment"
			retarget="true" />

	</actionSet>
  </extension>

  <extension point="org.eclipse.ui.commands">
   <!-- Perl Editor Scope definition -->
   <scope
		name="perlEditor Scope"
		parent="org.eclipse.ui.textEditorScope"
		description="Perl Editor Scope"
		id="org.epic.perleditor.perlEditorScope">
	</scope>
	
    <!-- Uncomment command -->
     <command
         id="org.epic.perleditor.uncomment"
         name= "Uncomment"
         description= "Uncomment Source">
     </command>
     <keyBinding
         string="Ctrl+\"
         scope="org.epic.perleditor.perlEditorScope"
         command="org.epic.perleditor.uncomment"
         configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
         platform="carbon"
         string="Command+\"
         scope="org.epic.perleditor.perlEditorScope"
         command="org.epic.eclipse.perleditor.uncomment"
         configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
     <!-- Comment command -->
     <command
         id="org.epic.perleditor.comment"
         name= "Comment"
         description= "Comment source">
     </command>
     <keyBinding
         string="Ctrl+/"
         scope="org.epic.perleditor.perlEditorScope"
         command="org.epic.perleditor.comment"
         configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
         platform="carbon"
         string="Command+/"
         scope="org.epic.perleditor.perlEditorScope"
         command="org.epic.eclipse.perleditor.comment"
         configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
     <!-- Content assist -->
     <command
         id="org.epic.perleditor.contentassist"
         name= "Content Assist"
         description= "Content Assist">
     </command>
     <keyBinding
         string="Ctrl+Space"
         scope="org.epic.perleditor.perlEditorScope"
         command="org.epic.perleditor.contentassist"
         configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
         platform="carbon"
         string="Command+Space"
         scope="org.epic.perleditor.perlEditorScope"
         command="org.epic.perleditor.contentassist"
         configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
     <!--HTML export -->
     <command
         id="org.epic.perleditor.htmlexport"
         name= "HTML Export"
         description= "HTML Export">
     </command>
     <!--Format source -->
     <command
         id="org.epic.perleditor.formatsource"
         name= "Format Source"
         description= "Format Source">
     </command>
     <keyBinding
         string="Ctrl+Shift+F"
         scope="org.epic.perleditor.perlEditorScope"
         command="org.epic.perleditor.formatsource"
         configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
         platform="carbon"
         string="Command+Shift+F"
         scope="org.epic.perleditor.perlEditorScope"
         command="org.epic.perleditor.formatsource"
         configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
  </extension> 
  
  <!-- Decorator extension START -->
  <extension 
	    point="org.eclipse.ui.decorators">
		
		<decorator
			adaptable="true"
			label="Perl"
			objectClass="org.eclipse.core.resources.IResource"
			state="true"
			lightweight="true"
			class="org.epic.core.decorators.PerlDecorator"
			id="org.epic.core.decorators.PerlDecorator"
			location="BOTTOM_RIGHT"> 
			<description>
				Perl Decorator
			</description>		
           
		</decorator>
	</extension>
  <!-- Decorator extension END -->

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="HelpToc.xml"
            primary="true">
      </toc>
   </extension>
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContexts.xml">
      </contexts>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">         
		 <viewerContribution 
		  		id="org.eclipse.jdt.ui.CompilationUnitEditorPopupActions" 
		  		targetID="#PerlRulerContext">
		  		<action
				   id="org.eclipse.ui.texteditor.TaskRulerAction"
				   menubarPath="add"
				   label="Add &amp;Task"
				   tooltip="Add Task..."
				            helpContextId="org.eclipse.ui.AddTask_action_context"
				   class="org.eclipse.ui.texteditor.TaskRulerAction">
				 </action>
				 <action
				   id="org.eclipse.ui.texteditor.BookmarkRulerAction"
				   menubarPath="add"
				   label="Add Boo&amp;kmark"
				   tooltip="Add Bookmark..."
				            helpContextId="org.eclipse.ui.bookmark_action_context"
				   class="org.eclipse.ui.texteditor.BookmarkRulerAction">
		  		</action>
		 </viewerContribution>
</extension>
 

</plugin>
