<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.epic.perleditor"
   name="Epic Plugin"
   version="0.1.0"
   provider-name="Epic Project"
   class="org.epic.perleditor.PerlEditorPlugin">

   <runtime>
      <library name="perleditor.jar">
         <packages prefixes="org.epic.core,org.epic.perleditor"/>
      </library>
      <library name="jdom.jar">
         <packages prefixes="org.jdom"/>
      </library>
      <library name="gnu-regexp-1.1.4.jar">
         <packages prefixes="gnu.regexp"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.epic.ext.cbg.editor"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.apache.xerces"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Epic Perl Editor"
            icon="icons/epic.gif"
            extensions="pl, ipl, pm, cgi"
            contributorClass="org.epic.perleditor.editors.PerlActionContributor"
            class="org.epic.perleditor.editors.PerlEditor"
            id="org.epic.perleditor.editors.PerlEditor">
      </editor>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.documentProviders">
      <provider
            extensions="pl, ipl, pm, cgi"
            class="org.epic.perleditor.editors.PerlDocumentProvider"
            id="org.epic.perleditor.editors.PerlDocumentProvider">
      </provider>
   </extension>
-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Perl EPIC"
            class="org.epic.core.preferences.PerlMainPreferencePage"
            id="org.epic.core.preferences.PerlMainPreferencePage">
      </page>
      <page
            name="Editor"
            category="org.epic.core.preferences.PerlMainPreferencePage"
            class="org.epic.perleditor.preferences.PerlEditorPreferencePage"
            id="org.epic.perleditor.preferences.EpicPerlEditorPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perl"
            icon="icons/epic.gif"
            class="org.epic.core.Perspective"
            id="org.epic.core.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Perl"
            id="org.epic.newproject">
      </category>
      <wizard
            name="Perl Project"
            icon="icons/epic_project.gif"
            category="org.epic.newproject"
            class="org.epic.core.PerlProjectResourceWizard"
            project="true"
            id="org.epic.newproject.wizard">
         <description>
            Create new Perl Project
         </description>
      </wizard>
   </extension>
   <extension
         id="perlnature"
         name="Perl Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.epic.core.PerlProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.projectNatureImages">
      <image
            icon="icons/project_folder.gif"
            natureId="org.epic.perleditor.perlnature"
            id="org.epic.core.perlProjectNatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="Perl Include Path"
            class="org.epic.core.properties.IncludePathPropertyPage"
            id="org.epic.core.properties.IncludePathPropertyPage">
         <filter
               name="nature"
               value="org.epic.perleditor.perlnature">
         </filter>
      </page>
   </extension>

</plugin>
