<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.epic.perleditor"
   name="Epic Plugin"
   version="0.1.1"
   provider-name="Epic Project"
   class="org.epic.perleditor.PerlEditorPlugin">

   <runtime>
      <library name="perleditor.jar">
         <export name="*"/>
         <packages prefixes="org.epic"/>
      </library>
      <library name="gnu-regexp-1.1.4.jar">
         <packages prefixes="gnu.regexp"/>
      </library>
      <library name="jdom.jar">
         <packages prefixes="org.jdom"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.epic.ext.cbg.editor"/>
      <import plugin="org.eclipse.debug.core"/>
      <import plugin="org.eclipse.debug.ui"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Epic Perl Editor"
            icon="icons/epic.gif"
            extensions="pl, ipl, pm, cgi, epl"
            contributorClass="org.epic.perleditor.editors.PerlActionContributor"
            class="org.epic.perleditor.editors.PerlEditor"
            id="org.epic.perleditor.editors.PerlEditor">
      </editor>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.documentProviders">
      <provider
            extensions="pl, ipl, pm, cgi"
            class="org.epic.perleditor.editors.PerlDocumentProvider"
            id="org.epic.perleditor.editors.PerlDocumentProvider">
      </provider>
   </extension>
-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Perl EPIC"
            class="org.epic.core.preferences.PerlMainPreferencePage"
            id="org.epic.core.preferences.PerlMainPreferencePage">
      </page>
      <page
            name="Editor"
            category="org.epic.core.preferences.PerlMainPreferencePage"
            class="org.epic.perleditor.preferences.PerlEditorPreferencePage"
            id="org.epic.perleditor.preferences.EpicPerlEditorPreferencePage">
      </page>
      <page
            name="Templates"
            category="org.epic.core.preferences.PerlMainPreferencePage"
            class="org.epic.perleditor.templates.preferences.TemplatePreferencePage"
            id="org.epic.perleditor.preferences.EpicPerlTemplatesPreferencePage">
      </page>
      <page
            name="Source Formatter"
            category="org.epic.core.preferences.PerlMainPreferencePage"
            class="org.epic.perleditor.preferences.SourceFormatterPreferencePage"
            id="org.epic.perleditor.preferences.SourceFormatterPreferencePage">
      </page>
      <page
            name="Code Assist"
            category="org.epic.core.preferences.PerlMainPreferencePage"
            class="org.epic.perleditor.preferences.CodeAssistPreferencePage"
            id="org.epic.perleditor.preferences.CodeAssistPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perl"
            icon="icons/epic.gif"
            class="org.epic.core.Perspective"
            id="org.epic.core.Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Perl"
            id="org.epic.newproject">
      </category>
      <wizard
            name="Perl Project"
            icon="icons/epic_project.gif"
            category="org.epic.newproject"
            class="org.epic.core.PerlProjectResourceWizard"
            project="true"
            id="org.epic.newproject.wizard">
         <description>
            Create new Perl Project
         </description>
      </wizard>
   </extension>
   <extension
         id="perlnature"
         name="Perl Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.epic.core.PerlProjectNature">
         </run>
      </runtime>
<!-- Builder test START -->
      <builder
            id="org.epic.perleditor.perlbuilder">
      </builder>
   </extension>
   <extension
         id="perlinkexternalfilesnature"
         name="Link External Files Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.epic.core.PerlLinkExternalFilesNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.projectNatureImages">
      <image
            icon="icons/project_link_folder.gif"
            natureId="org.epic.perleditor.perlinkexternalfilesnature"
            id="org.epic.core.perlinkexternalfilesnature.image">
      </image>
   </extension>
<!-- Builder START -->
   <extension
         id="perlbuilder"
         name="Perl Auto Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.epic.core.builders.PerlBuilder">
         </run>
      </builder>
   </extension>
<!-- Builder END -->
   <extension
         point="org.eclipse.ui.projectNatureImages">
      <image
            icon="icons/project_folder.gif"
            natureId="org.epic.perleditor.perlnature"
            id="org.epic.core.perlProjectNatureImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            objectClass="org.eclipse.core.resources.IProject"
            name="Perl Include Path"
            class="org.epic.core.properties.IncludePathPropertyPage"
            id="org.epic.core.properties.IncludePathPropertyPage">
         <filter
               name="nature"
               value="org.epic.perleditor.perlnature">
         </filter>
      </page>
   </extension>
<!-- Perldoc Perl Editor popup menu definition -->
   <extension
         point="org.eclipse.ui.popupMenus">
<!-- Perdoc menu -->
      <viewerContribution
            targetID="#PerlDocEditorContext"
            id="org.epic.perleditor.PerlDocPopup">
         <menu
               label="&amp;Perldoc"
               path="additions"
               id="PelDocPopupMenu">
            <separator
                  name="PerlDocGroup">
            </separator>
         </menu>
         <action
               label="FAQ Search"
               icon="icons/light_bulb.gif"
               class="org.epic.perleditor.popupmenus.PerlDocAction"
               menubarPath="PelDocPopupMenu/PerlDocGroup"
               id="org.epic.perleditor.popupmenus.PerlDocAction.Faq">
         </action>
         <action
               label="Builtin Function Documentation"
               icon="icons/epic.gif"
               class="org.epic.perleditor.popupmenus.PerlDocAction"
               menubarPath="PelDocPopupMenu/PerlDocGroup"
               id="org.epic.perleditor.popupmenus.PerlDocAction.BuiltinFunction">
         </action>
         <action
               label="Module/Program Source"
               icon="icons/module_node.gif"
               class="org.epic.perleditor.popupmenus.PerlDocAction"
               menubarPath="PelDocPopupMenu/PerlDocGroup"
               id="org.epic.perleditor.popupmenus.PerlDocAction.ModuleSource">
         </action>
         <action
               label="Module/Program Documentation"
               icon="icons/module_node.gif"
               class="org.epic.perleditor.popupmenus.PerlDocAction"
               menubarPath="PelDocPopupMenu/PerlDocGroup"
               id="org.epic.perleditor.popupmenus.PerlDocAction.Module">
         </action>
      </viewerContribution>
   </extension>
<!-- Associate menus with PerlEditor -->
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.epic.perleditor.sourcemenu">
         <part
               id="org.epic.perleditor.editors.PerlEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Source Menu"
            id="org.epic.perleditor.sourcemenu">
<!-- Content assist -->
         <action
               definitionId="org.epic.perleditor.contentassist"
               label="Co&amp;ntent Assist"
               retarget="true"
               menubarPath="edit/additions"
               id="org.epic.perleditor.ContentAssist">
         </action>
<!-- Source menu -->
         <menu
               label="&amp;Source"
               path="edit"
               id="org.epic.perleditor.source.menu">
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="exportGroup">
            </separator>
         </menu>
<!-- Export menu -->
         <menu
               label="&amp;Export"
               path="org.epic.perleditor.source.menu/exportGroup"
               id="export">
            <separator
                  name="group1">
            </separator>
         </menu>
<!-- HTML export -->
         <action
               definitionId="org.epic.perleditor.htmlexport"
               label="&amp;HTML"
               retarget="true"
               menubarPath="org.epic.perleditor.source.menu/export/group1"
               id="org.epic.perleditor.HtmlExport">
         </action>
<!-- Format source action -->
         <action
               definitionId="org.epic.perleditor.formatsource"
               label="F&amp;ormat"
               retarget="true"
               menubarPath="org.epic.perleditor.source.menu/editGroup"
               id="org.epic.perleditor.FormatSource">
         </action>
<!-- Uncomment action -->
         <action
               definitionId="org.epic.perleditor.uncomment"
               label="&amp;Uncomment"
               retarget="true"
               menubarPath="org.epic.perleditor.source.menu/editGroup"
               id="org.epic.perleditor.Uncomment">
         </action>
<!-- Comment action -->
         <action
               definitionId="org.epic.perleditor.comment"
               label="Co&amp;mment"
               retarget="true"
               menubarPath="org.epic.perleditor.source.menu/editGroup"
               id="org.epic.perleditor.Comment">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
<!-- Perl Editor Scope definition -->
      <scope
            name="perlEditor Scope"
            parent="org.eclipse.ui.textEditorScope"
            description="Perl Editor Scope"
            id="org.epic.perleditor.perlEditorScope">
      </scope>
<!-- Uncomment command -->
      <command
            name="Uncomment"
            description="Uncomment Source"
            id="org.epic.perleditor.uncomment">
      </command>
      <keyBinding
            string="Ctrl+\"
            scope="org.epic.perleditor.perlEditorScope"
            command="org.epic.perleditor.uncomment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+\"
            scope="org.epic.perleditor.perlEditorScope"
            command="org.epic.eclipse.perleditor.uncomment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- Comment command -->
      <command
            name="Comment"
            description="Comment source"
            id="org.epic.perleditor.comment">
      </command>
      <keyBinding
            string="Ctrl+/"
            scope="org.epic.perleditor.perlEditorScope"
            command="org.epic.perleditor.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+/"
            scope="org.epic.perleditor.perlEditorScope"
            command="org.epic.eclipse.perleditor.comment"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!-- Content assist -->
      <command
            name="Content Assist"
            description="Content Assist"
            id="org.epic.perleditor.contentassist">
      </command>
      <keyBinding
            string="Ctrl+Space"
            scope="org.epic.perleditor.perlEditorScope"
            command="org.epic.perleditor.contentassist"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+Space"
            scope="org.epic.perleditor.perlEditorScope"
            command="org.epic.perleditor.contentassist"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
<!--HTML export -->
      <command
            name="HTML Export"
            description="HTML Export"
            id="org.epic.perleditor.htmlexport">
      </command>
<!--Format source -->
      <command
            name="Format Source"
            description="Format Source"
            id="org.epic.perleditor.formatsource">
      </command>
      <keyBinding
            string="Ctrl+Shift+F"
            scope="org.epic.perleditor.perlEditorScope"
            command="org.epic.perleditor.formatsource"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
      <keyBinding
            platform="carbon"
            string="Command+Shift+F"
            scope="org.epic.perleditor.perlEditorScope"
            command="org.epic.perleditor.formatsource"
            configuration="org.eclipse.ui.defaultAcceleratorConfiguration">
      </keyBinding>
   </extension>
<!--             So to not have equal markers for the same thing we use BOTTOM_LEFT.            -->
<!--             But on some occasions the Java Builder seems to check Perl projecs as well.    -->
<!-- NOTE: According to the docs BOTTOM_LEFT should not be used, because JDT uses it. -->
<!-- Decorator extension START -->
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            objectClass="org.eclipse.core.resources.IResource"
            location="BOTTOM_LEFT"
            adaptable="true"
            label="Perl"
            state="true"
            class="org.epic.core.decorators.PerlDecorator"
            id="org.epic.core.decorators.PerlDecorator">
         <description>
            Perl Decorator
         </description>
      </decorator>
   </extension>
<!-- Decorator extension END -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="HelpToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="HelpContexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#PerlRulerContext"
            id="org.eclipse.jdt.ui.CompilationUnitEditorPopupActions">
         <action
               label="Add &amp;Task"
               helpContextId="org.eclipse.ui.AddTask_action_context"
               tooltip="Add Task..."
               class="org.eclipse.ui.texteditor.TaskRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.TaskRulerAction">
         </action>
         <action
               label="Add Boo&amp;kmark"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               tooltip="Add Bookmark..."
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               menubarPath="add"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="EPIC"
            id="org.epic.views">
      </category>
   </extension>

</plugin>
