<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="org.epic.perleditor"
   name="Epic Plugin"
   version="0.1.0"
   provider-name="Epic Project"
   class="org.epic.perleditor.PerlEditorPlugin">

   <runtime>
      <library name="perleditor.jar" />
      <library name="gnu-regexp-1.1.4.jar" />
      <library name="jdom.jar" />
      <!-- JEdit text Editor libs (Syntax Coloring by Chris Grindstaf) -->
      <!--
      <library name="editor.jar" />
      <library name="libs/dom4j-mini.jar" />
      <library name="libs/regexp-1.2-mini.jar" />
      -->
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.apache.xerces"/>
      <import plugin="org.epic.ext.cbg.editor"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
	    name="Epic Perl Editor"
            icon="icons/epic.gif"
            extensions="pl, ipl, pm, cgi"
            contributorClass="org.epic.perleditor.editors.PerlActionContributor"
            class="org.epic.perleditor.editors.PerlEditor"
            id="org.epic.perleditor.editors.PerlEditor">
      </editor>
   </extension>

   <!--
   <extension
         point="org.eclipse.ui.documentProviders">
      <provider
            extensions="pl, ipl, pm, cgi"
            class="org.epic.perleditor.editors.PerlDocumentProvider"
            id="org.epic.perleditor.editors.PerlDocumentProvider">
      </provider>
   </extension>
-->
   <extension point="org.eclipse.ui.preferencePages">
	<page id="org.epic.core.preferences.PerlMainPreferencePage"
		name="Perl EPIC"
		class="org.epic.core.preferences.PerlMainPreferencePage">
   		</page>
	<page id="org.epic.perleditor.preferences.EpicPerlEditorPreferencePage"
		name="Editor"
		category="org.epic.core.preferences.PerlMainPreferencePage"
		class="org.epic.perleditor.preferences.PerlEditorPreferencePage">
   		</page>
   	</extension>

	<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perl"
            icon="icons/epic.gif"
            class="org.epic.core.Perspective"
            id="org.epic.core.Perspective">
      </perspective>
   </extension>


   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Perl"
            id="org.epic.newproject">
      </category>
      <wizard
            name="Perl Project"
            icon="icons/epic_project.gif"
            category="org.epic.newproject"
            class="org.epic.core.PerlProjectResourceWizard"
            project="true"
            id="org.epic.newproject.wizard">
         <description>
            Create new Perl Project
         </description>
      </wizard>
   </extension>


   <extension
	point="org.eclipse.core.resources.natures"
	id="perlnature"
	name="Perl Nature">
	<runtime>
		<run class="org.epic.core.PerlProjectNature">
		</run>
	</runtime>
   </extension>

   <extension point="org.eclipse.ui.projectNatureImages">
	<image
		id="org.epic.core.perlProjectNatureImage"
		natureId="org.epic.perleditor.perlnature"
	        icon="icons/project_folder.gif">
	</image>
</extension>

<extension
	point="org.eclipse.ui.propertyPages">
	<page name="Perl Include Path"
  	   id="org.epic.core.properties.IncludePathPropertyPage"
       objectClass="org.eclipse.core.resources.IProject"
       class="org.epic.core.properties.IncludePathPropertyPage">
      <filter name="nature" value="org.epic.perleditor.perlnature"/>
   	</page>
</extension>

</plugin>
